<h1>My Cards</h1>
 
<table>
  <tr>
    <th>Original text</th>
    <th>Translated text</th>
    <th>Review date</th>
  </tr>
 
  <% current_user.cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.to_formatted_s(:rfc822) %></td>
      <td><%= link_to 'Show', deck_cards_path(card) %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to "Add new card", new_deck_card_path(current_user.id) %>