<h1><%= @card.original_text %></h1>

<p><%= t("card.original")%>: <%= @card.original_text %></p>
<p><%= t("card.translated")%>: <%= @card.translated_text %></p>
<p><%= t("card.review_date")%>: <%= @card.review_date %></p>
<p><%= image_tag @card.pic_url(:thumb).to_s %>
<p><%= link_to t("card.edit"), edit_deck_card_path(@card.deck_id) %>
<p><%= link_to t("card.delete"), deck_card_path(@card.deck_id), :method => :delete, :confirm => "Are you sure?" %>
<p><%= link_to t("card.back"), deck_path(@card.deck_id) %>
