<h1><%= @card.original_text %></h1>
<p>Original text: <%= @card.original_text %></p>
<p>Translated text: <%= @card.translated_text %></p>
<p>Review date: <%= @card.review_date %></p>
<p><%= link_to "Edit", edit_card_path(@card) %>
<p><%= link_to "Delete", card_path(@card), :method => :delete, :confirm => "Are you sure?" %>
<p><%= link_to "Back to card list", cards_path %>
