<h1><%= t("deck.my_decks")%></h1>
<p>

<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% current_user.decks.each do |deck| %>
    <tr>
      <td><%= deck.title %></td>
      <td><%= link_to t("deck.show"), deck_path(deck) %></td>
      <td><%= link_to(t("deck.make_current"), make_current_deck_path(deck), method: :put) %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to t("deck.add_new"), new_deck_path(current_user.id, locale: params[:locale]) %>