<head>
  <title>Flashcarder</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "bootstrap", media: "all", "data-turbolinks-track" => true %>


  <link rel="stylesheet" href="application.css">
</head>

<body>
  <section id="container">

    <header class="clearfix">
      <h1>Flashcarder</h1>
      <ul class="navigation-links">
        <li><%= link_to 'All cards', cards_path %></li>
        <li><%= link_to 'Add card', new_card_path %></li>
      </ul>
    </header>

  <%= yield %>

  </section>
</body>
