<head>
  <title>Flashcarder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section id="container">

    <header class="clearfix">
      <h1><%= link_to t("global.title"), root_path %></h1>
      <ul class="navigation-links">
      <% if current_user.nil? %>
        <%= t("global.language") %> 
        <%= link_to_unless_current "en", locale: "en" %> |
        <%= link_to_unless_current "ru", locale: "ru" %>
      <% end %>
       <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to t("global.sign_out"), logout_path %>
          <%= link_to t("global.account"), user_path(current_user) %>
          <% if current_user.has_linked_github? %>
          <% end %>
        <% else %>
        <li><%= link_to t("global.sign_in"), login_path %></li>
        <% end %>
      </ul>
    </header>

  <%= yield %>

  </section>
</body>
