<head>
  <title>Flashcarder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section id="container">

    <header class="clearfix">
      <h1><%= link_to 'Flashcarder', root_path %></h1>
      <ul class="navigation-links">
        <li><%= link_to 'All cards', cards_path %></li>
        <li><%= link_to 'Add card', new_card_path %></li>
      </ul>
    </header>

  <%= yield %>

  </section>
</body>
