<head>
  <title>Flashcarder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section id="container">

    <header class="clearfix">
      <h1><%= link_to t("home.title"), root_path %></h1>
      <ul class="navigation-links">
      <% if current_user.nil? %>
        <%= t("home.language") %> 
        <%= link_to_unless_current "en", locale: "en" %> |
        <%= link_to_unless_current "ru", locale: "ru" %>
      <% end %>
       <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to t("home.sign_out"), logout_path %>
          <%= link_to t("home.account"), user_path(current_user) %>
          <% if current_user.has_linked_github? %>
            <%= link_to 'Unlink your GitHub account', delete_oauth_path('github'), method: :delete %>
          <% else %>
            <%= link_to 'Link your GitHub account', auth_at_provider_path(:provider => :github) %>
          <% end %>
        <% else %>
        <li><%= link_to t("home.sign_in"), login_path %></li>
        <li><%= link_to t("home.github"), auth_at_provider_path(provider: :github) %></li>
        <% end %>
      </ul>
    </header>

  <%= yield %>

  </section>
</body>
